<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE logback>
<included>

	<appender name="FLUENT_TEXT"
		class="com.firewarm.fluentd_logback_appender.FluentLogbackAppender">
		<!-- Tag for Fluentd. Farther information: http://docs.fluentd.org/articles/config-file -->
		<tag>testLog</tag>
		<!-- [Optional] Label for Fluentd. Farther information: http://docs.fluentd.org/articles/config-file -->
		<label>logback</label>
		<!-- Host name/address and port number which Flentd placed -->
		<remoteHost>192.168.10.143</remoteHost>
		<port>24224</port>
		<!-- Max queue size of logs which is waiting to be sent (When it reach 
			to the max size, the log will be disappeared). -->
		<maxQueueSize>999</maxQueueSize>
		<additionalField>
			<key>contact_id</key>
			<value>111111</value>
		</additionalField>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern><![CDATA[%date{HH:mm:ss.SSS} [%thread] %-5level %logger{15}#%line %msg]]></pattern>
		</layout>
	</appender>


	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern><![CDATA[%date{HH:mm:ss.SSS} [%thread] %-5level %logger{15}#%line %X{req.requestURI} %msg\n]]></pattern>
		</encoder>
	</appender>

</included>
